/* incase I want to override anything from index.css */
#app
{
}
/* the text div */
.welcome-text
{
    padding-top: 50px;
}
/* the welcome heading */
.welcome
{
    font-family:'Times New Roman';
    /* font-weight: bold; */
    /* text-decoration: underline; */
}
p
{
    font-family:Helvetica ;
    white-space: pre-line;
}
.project-icons img
{
    width: 150px;
    height: 150px;
    margin-top: 50px;
}