/* background colour */
body
{
    background-color: lightblue !important; 
    padding-bottom: 60px;
}

/* sidebar styling */
.my-sidebar
{
    width: 250px;
    transition: all 1s ease;
}
.my-sidebar.collapsed
{
    width: 0px;
    padding: 0px !important;
}
.my-sidebar.collapsed .image-text,
.my-sidebar.collapsed .image-of-me,
.my-sidebar.collapsed ul
{
    display: none;
}
.my-sidebar.collapsed .image-of-me
{
    width: 0px;
    height: 0px;
}

/* bottom footer styling */
.my-footer
{
}
.footer-contact
{
    display: flex;
    gap: 20px;
    margin-top: 5px;
}.my-footer a
{
    color: white;
    text-decoration: none;
}
.my-footer a:hover
{
    text-decoration: underline;
}