/* background colour */
body
{
    background-color: lightblue !important; 
    padding-bottom: 60px;
}

/* sidebar styling */
.image-of-me
{
    width: 175px;
    height: 175px;
}
.my-sidebar
{
    width: 250px;
    transition: all 1s ease;
}
.my-sidebar.collapsed
{
    width: 0px;
    padding: 0px !important;
}
.my-sidebar ul,
.my-sidebar .image-text,
.my-sidebar .image-of-me 
{
    opacity: 1;
    visibility: visible;
    transition: opacity 0.5s ease;
    transition-delay: 0.4s; 
}
.my-sidebar.collapsed ul,
.my-sidebar.collapsed .image-text,
.my-sidebar.collapsed .image-of-me 
{
    opacity: 0;
    visibility: hidden;
}

/* bottom footer styling */
.my-footer
{
    padding: 25px 0px;
}
.footer-container
{
    margin: 0 auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.footer-middle
{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.footer-right
{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 5px;
    padding: 0px 25px;
}
.my-footer a
{
    color: white;
    text-decoration: none;
}
.my-footer a:hover
{
    text-decoration: underline;
}
/* github & linkedin logo */
.social-link 
{
    width: 75px;
    height: 75px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    text-decoration: none;
    transition: 0.2s ease;
}
.social-link:hover 
{
    transform: scale(1.1);
    background: lightgray;
}
.footer-icons
{
    display: flex;
    gap: 10px;
}