/* background colour */
body
{
    background-color: lightblue !important; 
    padding-bottom: 60px;
}

/* sidebar styling */
.my-sidebar
{
    width: 250px;
    transition: all 1s ease;
}
.my-sidebar.collapsed
{
    width: 0px;
    padding: 0px !important;
}
.my-sidebar.collapsed .image-text,
.my-sidebar.collapsed .image-of-me,
.my-sidebar.collapsed ul
{
    display: none;
}
.my-sidebar.collapsed .image-of-me
{
    width: 0px;
    height: 0px;
}

/* bottom footer styling */
.my-footer
{
    padding: 25px 0px;
}
.footer-container
{
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer-left
{
    display: flex;
    gap: 20px;
    padding: 0px 400px;
}
.footer-right
{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 5px;
    padding: 0px 25px;
}
.my-footer a
{
    color: white;
    text-decoration: none;
}
.my-footer a:hover
{
    text-decoration: underline;
}